*.o
*.mod
*.pyc
*.aux
*.bbl
*.log
*.blg
*.out
*.toc

Makefile
/bin/
!/bin/auto
!/bin/autox
/lib/
/config.log
/config.status
/include/config.h
/doc/include/*.pdf
cmds/@H
cmds/@LB
cmds/@R
cmds/@RD
cmds/cmds.make
doc/auto.pdf
gui/auto.makefile
plaut04/doc/userguide.pdf
plaut04/src/gmainqt.moc.c++
test/verification/*.html
test/*_log*
demos/python/test/
