#version 0.0

# Line colors are represented by RGB values from 0 to 1.0.
# DEFAULT color is also used when animationLabel == 0, i.e.,
# when showing all solutions and animating the solution change.
# Point Type    RED  GREEN  BLUE
DEFAULT     = 1.0,  1.0,  1.0, 0xffff
BP            = 1.0,  0.0,  0.0, 0xffff
LP ALG        = 0.0,  1.0,  0.0, 0xffff
HB            = 0.0,  0.0,  1.0, 0xffff
UZ4           = 1.0,  1.0,  0.0, 0xffff
UZ-4          = 0.5,  0.5,  0.0, 0xffff
LP DIF        = 0.0,  0.0,  0.5, 0xffff
BP DIF        = 0.0,  0.5,  0.5, 0xffff
PD            = 1.0,  0.0,  1.0, 0xffff
TR            = 0.0,  1.0,  1.0, 0xffff
EP            = 0.3,  0.0,  0.3, 0xffff
MX            = 0.6,  0.0,  0.6, 0xffff
OTHERS             = 1.0,  1.0,  1.0, 0xffff

# Initialize the line pattern for showing stability
UNSTABLE LINE PATTERN = 0xffff 
STABLE LINE PATTERN   = 0xffff

#  Initialize the default options:
Draw Reference Plane  = Yes
Orbit Animation       = No
Satellite Animation   = No 
Draw Primaries        = Yes
Draw Libration Points = Yes 
Normalize Data        = No 
Draw Background       = No

# Initialize the default coordinate axes:
#  0 --- None,
#  1 --- at origin
#  2 --- at left and behind
#  3 --- at left and ahead
Coordinate Type = 0

# Draw Scale on the Axes
Draw Scale = Yes 

#  Initialize the default graph type:
#  0 --- Solution (fort.8)
#  1 --- Bifurcation (fort.7)
Graph Type    = 0

# Initialize the default graph style:
#  0 --- LINES,
#  1 --- TUBES,
#  2 --- SURFACE
Graph Style  =  0

#Set the window width and height:
Window Width        = 1000
Window Height       = 1000 

# Set X, Y, Z axes for the solution diagram:
# 0 is Time for X,Y,Z.
X Axis Solution             = 1
Y Axis Solution             = 2
Z Axis Solution             = 3

# Set X, Y, Z axes for the bifurcation diagram:
X Axis Bifurcation              = 4
Y Axis Bifurcation              = 5
Z Axis Bifurcation              = 6

#Labeled solutions:
#-3 = Show all labeled solutions
#-2 = Show HALF labeled solutions
#-1 = Show SPEC labeled solutions
#0 = Show NONE of the solutions
#Otherwise, show the specified solution(s)
Labels              = -3

#Set coloring method:
# -6 --- STABILITY
# -5 --- POINT
# -4 --- BRANCH
# -3 --- TYPE 
# -2 --- LABEL 
# -1 --- COMPONENT 
# Otherwise, according to the data in the ith column of the solution file.
# It can only be set to an integer value.
Coloring Method           = -2
Number of Period Animated = 1

# Line Width Scaler adjusts the thickness of curves:
Line Width Scaler         = 1.0

# The AniLine Thickness Scaler sets the thickness of animated solution curves:
AniLine Thickness Scaler  = 3.0

# Background color:
Background Color  = 0.8,  0.8,   1.0

# Background transparency:
Background Transparency = 0.0 

# Disk transparency
# IF you turn Disk From File to "Yes", you should change the transparency there.
Disk Transparency = 0.7 

# Read Disk From File
Disk From File = No 

# Axes color:
X Axis Color    = 1.0,  0.0,   0.0
Y Axis Color    = 0.0,  1.0,   0.0
Z Axis Color    = 0.0,  0.0,   1.0

# Color of the satellite, large primary, and small primary in animation:
satellite Color             = 1.0,  0.0,   0.0
large primary Color         = 0.0,  1.0,   0.0
large primary tail Color    = 0.0,  1.0,   1.0
small primary Color         = 0.0,  0.0,   1.0
small primary tail Color    = 0.5,  0.5,   0.0


# Stable solution color:
Stable Solution Color = 0.0, 0.0, 1.0

# Stable solution color:
Unstable Solution Color = 1.0, 0.0, 0.0

# Set the radius of the satellite, large primary, and small primary:
# The normal size is 1.0.
# For smaller radius, use 0.xxx
# For bigger radius, use  X.XXX
Satellite Radius        = 1.0
Large Primary Radius    = 3.0
Small Primary Radius    = 2.0
Libration Point Size    = 0.5

# Set the maximum and minimum satellite animation speed:
Sat Max Animation Speed = 100
Sat Min Animation Speed = 0

# Set the maximum and minimum orbit-change animation speed:
Orbit Max Animation Speed = 100
Orbit Min Animation Speed = 0

# Set the active AUTO parameter indices:
parameter ID = 10

# Choose 3D or 2D graph:
3DSol = Yes 

